#background {
  background-image: url("https://sun9-13.userapi.com/impg/27L8gDNJ7gz9417nY2cCX0IPKIuCb_svyenm5Q/Kg2keEDhd-U.jpg?size=2557x1920&quality=96&sign=94f1b5a24304e1b32627c61917b3d96a");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#links-card {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 1%;
}

#links-card > span > a {
  width: 1vw;
}

#links-card > span > a > img {
  width: 1vw;
}

#links-card > span {
  margin: .2vw;
}

#links-card.mat-card {
  padding-bottom: .5%;
}

#to-photo {
  position: absolute;
  margin-right: auto;
  right: 1%;
  top: 100%;
  text-align: center;
  transform: translateY(-125%);
}
